body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.container {
  &--dark {
    background: hsl(230, 17%, 14%);
    height: 100vh;
    color: white;
  }

  &--light {
    background: #fff;
    color: hsl(230, 17%, 14%);

    .card {
        background: hsl(230, 22%, 74%);
    }
  }
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 30px;
  background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  display: block;
  border-radius: 100px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 19px;
    height: 19px;
    background: hsl(228, 28%, 20%);
    border-radius: 90px;
    transition: 0.3s;
  }

  &:active:after {
    width: 19px;
  }
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background: hsl(230, 22%, 74%);
}

.card {
    background: hsl(228, 28%, 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlights {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 30px;
}
